<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

<h1>About This Website</h1>

My name is Paul Keenum, and I am taking steps towards becoming a software developer.
<br>
I am familiar with Python, and I am learning Django to give me a way to practice what I know.
<br>
This website generates a random password based on parameters given by the user
<br>
<a href="{% url 'home' %}" class="btn btn-primary">Home</a>